*{
    margin: 0;
    padding: 10px 0px;
    box-sizing: border-box;
}

body{
    background-color: black;
    color: white;
}

nav{
    display: flex;
    justify-content: space-around;
}

nav a{
    text-decoration: none;
    color: white; 
}


.about img{
    height: 70px;
    width: 70px;
    border-radius: 50px;
}

.about-links{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.about-links button{
    border: 1px solid white;
    outline: none;
    color: white;
    background-color: black;
    padding: 10px 15px;
    border-radius: 25px;
    margin: 10px;
}

.education ul{
    padding-left: 100px;
    
}

.lang ul{
    padding-left: 50px;
    list-style: none;
}

.sks{
    display: flex;
    flex-wrap: wrap;
}

.btn{
   border: 1px solid white;
   border-radius: 30px;
   margin: 10px;
   padding: 10px 20px;
}

.link{
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 10px 25px;
    border-radius: 25px;
    margin: 10px;
}

.live{
    text-decoration: none;
    color: gold;
    border: 1px solid white;
    padding: 10px 25px;
    border-radius: 25px;
    margin: 10px;
}

.pjs{
    margin: 30px 0px;
    padding: 0px 10vw;
}

.pjs img{
    margin: 20px 0px;
    width: 60vw;
}

.pjs p{
    padding-left: 20px;
}

#menu{
    display: none;
}

#nav{
    display: none;
}

@media screen and (max-width : 1008px) {
    body{
        margin: 0vw 15vw;
    }
}


@media screen and (min-width : 1009px) {
    body{
        margin: 0vw 15vw;
    }

    nav{
        width: 100%;
    }
}

@media screen and (max-width : 480px) {
    .about-links{
        flex-flow: column;
    }

    .about-links button{
       padding: 10px;
    }

    .pjs{
        padding-left: 20px;
        display: flex;
        flex-direction: column;
    }

    header{
        display: none;
    }

    #menu{
        display: block;
    }

    #nav{
        display: none;
        padding-left: 30px;
    }
  
}
